@page "/"

<PageTitle>EventHorizon Blazor - Mascot</PageTitle>

<h1>EventHorizon Blazor Mascot</h1>

<p>This is a Sample application of a Package that can be included with Blazor to show a virtual Avatar of a Mascot.</p>
<p>Checkout <a href="/Mascot/playground">The Playground</a> </p>
<p>Checkout <a href="/full-screen">Full Screen</a> </p>